/* Basic Reset */
*{ 
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
html{
    overflow-x: hidden;
}
body{
  padding-top: 3rem;
    min-height: 100vh;
}
/* End of Basic Reset */

:root{
    --back-color: #ffffff;
}

body {
    font-family: 'cairo', sans-serif;
    direction: rtl;
    min-height: 100vh;
    background: #f3f9ff;
}

main{
    max-width: 1200px;
    margin: 1rem auto;
}

.list{
    display: grid;
    gap: 20px;
    padding: 2rem;

}

.list .item{
    display: block;
    text-decoration: none;
    color: #0b61c1;
    border-radius: 5px;
    padding: 1rem;
    background: #fff;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px #538aff49;
}

.list .item:hover{
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px #538aff49;
}

.search {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr auto;
    margin: 10px auto;
    padding: 1rem;
}

.search label{
    grid-column: span 2;
}

.search input[type="submit"]{
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #2b69dd;
    padding: 0.25em 1.5em;
    border-radius: 5px;
}

.search-text:focus {
    outline: none;
    box-shadow: 0px 3px 6px #538aff inset;
}

.search-text{
    border: none;
    border-radius: 5px;
    padding: 0.25em 0.5em;
    box-shadow: 0px 3px 6px #bad0ff inset;
}


label {
    color: #607d8b;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.wrapper {
    background: var(--back-color);
    padding: 25px;
    border-radius: 3px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px #538aff49;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    background: #fff;
    flex: 1;
    margin: 0px 5px;
    border-radius: 3px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px #5e687949;
}

.pagination li a {
    height: 45px;
    width: 100%;
    color: #4d3252;
    font-size: 18px;
    text-decoration: none;
    display: block;
    line-height: 45px;
    text-align: center;
}

.pagination li.active {
    box-shadow: inset -3px -3px 7px #ffffff8b, inset 3px 3px 5px #5e687979;
}

.pagination li.active a {
    cursor: default;
    pointer-events: none;
    font-size: 17px;
    color: #6f6cde;
}

.pagination li:first-child {
    margin: 0 15px 0 0;
}

.pagination li:last-child {
    margin: 0 0 0 15px;
}