/* Basic Reset */
*{ 
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
html{
    overflow-x: hidden;
}
body{
    min-height: 100vh;
}
/* End of Basic Reset */

body {
    font-family: 'Segoe UI', sans-serif;
    direction: rtl;
    min-height: 100vh;
    background: #dde1e7;
    padding-top: 3rem
}

main{
    max-width: 1200px;
    margin: 1rem auto;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.main input{
    padding: 14px;
    margin: 8px; 
    background-color: rgb(245, 245, 245);
    border: 1px rgb(226, 226, 226) solid;
    outline: none;
    border-radius: 3px;
}
input[type="submit"]{
    background-color: rgb(0, 202, 118);
    width: 180px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover{
    transition: 0.6s;
    background-color: rgb(0, 175, 102);
}
#login{
    background-color: rgb(255, 45, 45);
    color: white;
    padding: 8px;
    border-radius: 3px;
}
#login:hover{
    transition: 0.6s;
    background-color: red;
}
#error{
    background-color: rgb(255, 175, 175);
    color: rgb(255, 0, 0);
    padding: 4px;
}