/* Basic Reset */
*{ 
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
html{
    overflow-x: hidden;
}
body{
  padding-top: 3rem;
    min-height: 100vh;
}
/* End of Basic Reset */

body {
    font-family: 'cairo', sans-serif;
    direction: rtl;
    min-height: 100vh;
    background: #f3f9ff;
}

main{
    max-width: 1200px;
    margin: 1rem auto;
    
}

.exam-name{
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px #538aff49;
}

.questions-container{
    display: grid;
    gap: 20px;
}
.question{
    border-radius: 20px;
    padding: 30px 100px;
    display: grid;
    border-radius: 5px;
    background: #fff;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px #59ff5365;
}


.question-options > div{
    font-weight: 600;
    padding: .25em 1em;
    margin-top: 10px;
    border-radius: 5px;
}

.question:has(.wrong){
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px #ff3c3c65;
}

.correct{
    color: white;
    background-color: #59b459;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px #59ff5349;
}

.wrong{
    color: white;
    background-color: #ce7c7c;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px #ff535349;
}
.button{
    text-decoration: none;
    justify-self: center;
    color: #fff;
    background-color: #2b69dd;
    padding: 0.5em 2em;
}


@media screen and (max-width: 768px) {
    main {
        padding: 1rem;
    }
    .question {
        padding: 1rem;
    }
}