/* Basic Reset */
*{ 
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
html{
    overflow-x: hidden;
}
body{
    min-height: 100vh;
}
/* End of Basic Reset */

body {
    font-family: 'Segoe UI', sans-serif;
    direction: rtl;
    min-height: 100vh;
    background: #dde1e7;
    padding-top: 3rem
}

main{
    max-width: 1200px;
    margin: 1rem auto;
    
}

.questions-container{
    display: grid;
    gap: 20px;
}
.question{
    border: #97d497 solid 3px;
    border-radius: 20px;
    padding: 30px 100px;
    display: grid;
}


.question-options > div{
    padding: .25em 1em;
    margin-top: 10px;
    border-radius: 5px;
}

.question:has(.wrong){
    border-color: #c77f7f;
}

.correct{
    background-color: #b9e2b9;
    border: #97d497 solid 2px;
}

.wrong{
    background-color: #c59a9a;
    border: #c77f7f solid 2px;
}
.button{
    text-decoration: none;
    justify-self: center;
    color: #fff;
    background-color: #2b69dd;
    padding: 0.5em 2em;
}