/* Basic Reset */
*{ 
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
img, picture, svg, video{
    display: block;
    max-width: 100%;
}
input, textarea, button, select{
    font: inherit;
}
html{
    overflow-x: hidden;
}
body{
  padding-top: 3rem;
    min-height: 100vh;
}
/* End of Basic Reset */

body {
    font-family: 'cairo', sans-serif;
    direction: rtl;
    min-height: 100vh;
    background: #f3f9ff;
}

main{
    max-width: 1200px;
    margin: 1rem auto;
    padding: 2rem;
}

.hedeng p {
    font-size: 22px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-end: 25px;
    font-weight: 700;
}

#studentsTable {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: clip;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px #5e687949;
    border-collapse: collapse; 
}

#studentsTable td, #studentsTable th{
    font-weight: 600;
    border-left: 5px solid #f3f9ff;
    padding: .5em;
}

#studentsTable td:last-child, #studentsTable th:last-child{
    border-left: none;
}

#studentsTable th {
    color: #fff;
    background-color: #2b69dd;
    padding: 8px;
    text-align: right;
}

#studentsTable tr {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: right;
}

#studentsTable .failed{
    color: #fff;
    background-color: #ff2424;
}